<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>손휘성의 게시판 만들기</title>
  <link rel="stylesheet" href="/static/css/main.css">
  <script>
    const msg = '{{msg}}';
    if (msg) {
      alert(msg);
    }
  </script>
</head>
<body>
  {{{body}}}
</body>
</html>